* {
    font-family: Arial, Helvetica, sans-serif !important;
}
a {
    text-decoration: none;
}

#nav-bar {
    transition: all 0.5s;
}

.nav-item > a:hover {
    color: #ffb800;
}
button {
    font-weight: 600;
}

.button-one {
    background-color: #ffb800;
    border: 0;
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.44);
    letter-spacing: 1.5px;
}
.button-one:hover {
    background-color: #000657;
    color: white;
    transition: all 0.5s ease;
}
.button-one:active {
    transform: translateY(1px);
    transition: 100ms;
}

.button-two {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ffb800;
}
.button-two:hover {
    background-color: #000657;
    color: white;
    border: 1px solid #ffb70000;
    transition: all 0.5s ease;
}
.button-two:active {
    transform: translateY(1px);
    transition: 100ms;
}

.landing-page {
    background-image: url("./images/backg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    letter-spacing: 0.2rem;
    line-height: 3rem;
    font-weight: bold;
    font-size: 3rem;
}
h5 {
    font-size: 1.8rem;
}
h2 {
    font-weight: 600;
}

h2,
h3 {
    font-size: 2rem;
}
h4 {
    color: #d4d4d4;
    font-size: 1rem;
    font-weight: bold;
}

h6 {
    color: #bbbbbb;
}

.heading span {
    color: #ffb800;
    text-decoration: underline;
    font-weight: 600;
}
.about-page span {
    color: #ffb800;
    font-size: 2rem;
    text-decoration: underline;
}
.about-page p {
    letter-spacing: 1.5px;
    line-height: 2.5rem;
    font-size: 1.3rem;
}

.img-side {
    max-height: 25%;
    max-width: 25%;
}

.column {
    flex: 50%;
}

.image-shadow {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border: 0;
}

.project-background {
    background-image: url("./images/backg2new.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.min-vh-50 {
    min-height: 50vh;
}
.card {
    margin: 0.2rem;
    transition: all 0.5s ease;
    border: 0;
}
.card:hover {
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
}

.card-body {
    position: absolute;
    max-height: 2.5rem;
    bottom: 0;
    right: 0;
    left: 0;
    border: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0.2));
    overflow: hidden;
    transition: all 0.5s;
}

.card-body > h6,
p {
    color: rgb(167, 167, 167);
}

.card:hover .card-body {
    max-height: 100%;
}
.card:hover .card-img-top {
    filter: brightness(0.8);
    transition: filter 0.5s;
}

.services-contact p {
    letter-spacing: 1.5px;
    line-height: 2.5rem;
    font-size: 1.3rem;
}

.img-services {
    height: 10rem;
    padding: 1rem;
}

.card-contact {
    background-color: #0000000a;
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.247);
    -webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.247);
    -moz-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.247);
    border-radius: 0.5rem;
    height: auto;
}

.contact-form input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    margin: 10px;
    border: 0;
    box-shadow: 0px 0px 28px 0px rgba(155, 154, 154, 0.35);
    -webkit-box-shadow: 0px 0px 28px 0px rgba(155, 154, 154, 0.35);
    -moz-box-shadow: 0px 0px 28px 0px rgba(155, 154, 154, 0.35);
    border-radius: 3px;
    transition: box-shadow 0.5s;
}
.contact-form input::placeholder,
textarea::placeholder {
    opacity: 0.5;
}

.contact-form input:hover {
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.35);
}

.contact-form input {
    height: 2rem;
}
.foot-contain {
    border-top: 0.5px solid rgba(150, 150, 150, 0.247);
}

.pre-foot h4 {
    font-size: 1.2rem;
    text-decoration: underline;
}

.card-foot h4 {
    font-size: 1rem;
}

.decoration-none {
    text-decoration: none;
    color: #ffb800;
    font-weight: 600;
}

.socials img {
    width: 30px;
    height: 30px;
    margin: 0.5rem;
    transition: all 0.5s;
}
.socials img:hover {
    transform: scale(1.2);
}

/* Media Query */

@media only screen and (max-width: 1025px) {
    #about-images {
        min-height: 100%;
        min-width: 100%;
        border-radius: 50%;
    }
}
