* {
    font-family: Arial, Helvetica, sans-serif !important;
}

.nav-item > a:hover {
    color: #ffb800;
    transform: translateY(-2px);
    transition: 100ms;
}

.button-one {
    background-color: #ffb800;
    border: 0;
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.44);
    letter-spacing: 1.5px;
}
.button-one:hover {
    background-color: #000657;
    color: white;
    transition: all 0.5s ease;
}
.button-one:active {
    transform: translateY(1px);
    transition: 100ms;
}

.button-two {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ffb800;
}
.button-two:hover {
    background-color: #000657;
    color: white;
    border: 1px solid #ffb70000;
    transition: all 0.5s ease;
}
.button-two:active {
    transform: translateY(1px);
    transition: 100ms;
}

.landing-page {
    background-image: url("./images/backg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    letter-spacing: 0.2rem;
    line-height: 3rem;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
}
h5 {
    color: white;
}
.heading span {
    color: #ffb800;
    text-decoration: underline;
    font-weight: 600;
}
.about-page span {
    color: #ffb800;
    font-size: 2.2rem;
    text-decoration: underline;
}
.about-page p {
    letter-spacing: 1.5px;
    line-height: 2.5rem;
    font-size: 1.2rem;
}

.carousel {
    height: 50vh;
}
.carousel-control-prev,
.carousel-control-next {
    opacity: 0.2;
}
